.landing {
    background-color: #c4dbc1;
    height: auto;
    padding-left: 5rem;
}

.landing-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
.content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    color: black;
    font-family: WorkSans-Semi, sans-serif;
    font-size: 30px;
  }
  
  .landing-text img, .about-gif {
    max-width: 45%;
    height: auto;
  }
  
  .about-gif {
    margin-left: 0;
    max-width: 49%;
    height: auto;
  }
  
  .landing-text-2 {
    padding-left: 10px;
  }

  .values {
    height: auto;
    background-color: #fdf9ed;
  }

  .our-values {
    margin-top: 0;
    padding-top: 3.3rem;
    text-align: center;
    font-family: WorkSans-Bold, sans-serif;
    font-size: 50px;
  }


  .each-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    max-width: 100%; 
    margin: 0 auto; 
  }
  .value {
    text-align: center;
    margin: 30px;
    flex: 1; 
  }
  .value img {
    max-width: 100%;
    height: auto;
  }
  .value-name {
    font-size: 30px;
    font-family: WorkSans-Bold, sans-serif;
    font-weight: 700;
  }
  .value-text {
    font-family: WorkSans-Semi, sans-serif;
    font-size: 20px;
  }
  .meet-board {
    background-color: #e9d8c9;
  }
  .board-header {
    margin-top: 0px;
    padding-top: 3.3rem;
    text-align: center;
    font-family: WorkSans-Bold, sans-serif;
    font-size: 50px;
  }
  .board-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  
  .board-member {
    width: 270px;
    text-align: center;
    margin-top: 50px;
  }
  
  .board-member img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10%;
  }
  .board-member h2 {
    margin: 10px 0;
    font-size: 1.2rem; 
  }
  
  .board-member p {
    font-size: 1rem;
    color: #777;
  }