.construction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    background-color: #fdf9ed;
  }
  
  #const {
    max-width: 100%; 
    max-height: 60%; 
  }
  .text-const {
    text-align: center;
    font-size: 22px;
    font-family: WorkSans-Bold, sans-serif;
    margin-top: 40px;
  }
  .text-const-1{
    text-align: center;
    font-size: 22px;
    font-family: WorkSans-Bold, sans-serif;
    margin-top: 0;
  }