/* Existing styles */
.get-in-touch {
    font-size: 3.5rem;
    text-align: center;
    font-family: WorkSans-Bold, sans-serif;
  }
  
  body {
    height: auto;
    
  }
  
  .contact-us {
    text-align: center;
    height: auto;
  }
  
  /* Updated styles for social links */
  .social-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    flex-wrap: nowrap;
  } 
  
  .social-link {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
  
  .icon {
    font-size: 70px;
    color: #457860;
  }
  
  .social-link-text {
    font-family: WorkSans-Semi, sans-serif;
    font-size: 19px;
  }
  
  /* Additional styles for media icons */
  .media-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footnote {
    
  }
  
  /* Add these styles to your existing CSS file or style block */
  